<footer>
 
    <div class="container">
        <nav class="nav-footer">
            <a class="active" href="/home">Home</a>
            <span class="separator">/</span>
            <a href="/contact">Contact</a>
        </nav>
        <span class="copyright">Copyright 2016 Display. All rights reserved.</span>
    </div>
</footer>